/* GENERAL STYLES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url("../Images/abstract-painting.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    padding-top: 5px;
    font-weight: bold;
    color: #cccccc;
    letter-spacing: 3px;
}

p {
    color: #cccccc;
    font-weight: medium;
    opacity: 1;
    letter-spacing: 3px;
}

.float-left {
    float: left;
    max-width: 100%;
    padding: 10px;
    
}

.container {
    border: 2px solid #cccccc;
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-bottom: 10px;
    background-color: rgba(102, 102, 102, 0.808);
    }

.d-md-none {
    text-align: center;
    letter-spacing: 5px;
    font-size: 30px;
    color: #cccccc;
    font-weight: medium;
}